<ion-view title="Objek Wisata">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-positive tabs-top tabs-icon-only">

    <ion-tab title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
      <ion-content class="has-tabs">
        <div class="row">
          <div class="col">
            <ion-slide-box>
              <ion-slide>
                <div class="box">
                  <img src="http://placehold.it/300x150" class="full-width-img" />
                </div>
              </ion-slide>
              
              <ion-slide>
                <div class="box">
                  <img src="http://placehold.it/300x150" class="full-width-img" />
                </div>
              </ion-slide>

              <ion-slide>
                <div class="box">
                  <img src="http://placehold.it/300x150" class="full-width-img" />
                </div>
              </ion-slide>
            </ion-slide-box>
          </div>
        </div>

        <h1>Pantai Widuri</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ante dui, rhoncus id blandit quis, laoreet et justo. Nullam eleifend lacus luctus tortor dignissim fringilla. Donec felis nisi, viverra sit amet lectus et, tincidunt tempus lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus posuere lacinia luctus. Mauris eget libero porta, iaculis risus a, mollis lectus. Vestibulum venenatis arcu sit amet mauris porttitor, molestie gravida tortor fermentum. Praesent viverra convallis sem pellentesque malesuada. Donec ut vehicula ex, in vulputate quam. Sed posuere metus id pulvinar porttitor.
        </p>
      </ion-content>
    </ion-tab>

    <ion-tab title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
      <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>
</ion-view>